/*

===================
f!uXish CSS Styles
===================
rouge style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: column.css

*/

/* ===== COLUMN ===== */
.column h4{ 
    background: #d50000 url('../imgs/header-back.jpg') no-repeat center top; 
    color: #fff;    
}

.column a:hover { color: #d50000; }

/* ===== BARS ===== */

.bar h4 { background: #d50000 url('../imgs/header-back.jpg') no-repeat center top; }


