/*

===================
Fluxish CSS Styles
===================
rouge style
-------------------

Name: Fluxish
Author: f!uX
Version: 1.0
Module: style.css

*/



/* imports common style ruleset */
@import url(../../common/res/style.css);
@import url(common.css);
@import url(globals.css);

/* imports column (where widgets usually go) rules */
@import url(column.css);

/* imports widgets particular rules */
@import url(widgets.css);
