/*

===================
f!uXish CSS Styles
===================
acid style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: globals.css

*/

/* ===== MINI-ICONS ===== */

.img_mini{
    margin-right: -0.2em;
    padding: 0.2em 0 0.2em 16px;
}

.edit-entry_mini{
    background: url('../imgs/icons/edit-entry.gif') left center no-repeat;
    border-style: none;
}

.delete-entry_mini{
    background: url('../imgs/icons/delete-entry.gif') left center no-repeat;
    border-style: none;
}

.delete-comment_mini{
    background: url('../imgs/icons/delete-entry.gif') left center no-repeat;
    border-style: none;
}

.add-comment_mini{
    background: url('../imgs/icons/add-comment.gif') left center no-repeat;
    border-style: none;
}

.posted-by_mini{
    background: url('../imgs/icons/posted-by.gif') left center no-repeat;
    border-style: none;
}

.permalink_mini{
    background: url('../imgs/icons/permalink.gif') left center no-repeat;
    border-style: none;
}

.view_mini{
    background: url('../imgs/icons/view.gif') left center no-repeat;
    border-style: none;
}

.category_mini{
    background: url('../imgs/icons/category.gif') left center no-repeat;
    padding-left: 16px;
    height: 14px;
    border-style: none;
}

/* ===== SOCIAL LINKS ===== */

.rss_link{
    background: url('../imgs/icons/rss-mini.gif') left center no-repeat;
    padding-left: 14px;
    border-style: none;
}

/* IE hack */
#item-rss{
    background: url('../imgs/icons/rss-pocket-acid.gif') no-repeat center bottom;
}

html>body #item-rss{
    background: url('../imgs/icons/rss-pocket-acid.png') no-repeat center bottom;
}

/* === TOOLTIPS === */

.tool-tip{ }

.tool-title{ }
