/*

===================
f!uXish CSS Styles
===================
naples style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: column.css

*/

/* ===== COLUMN ===== */
.column h4{ 
    background: #149dd9 url('../imgs/header-back.jpg') no-repeat center top; 
    color: #fff;    
}

.column a:hover { color: #149dd9; }

/* ===== BARS ===== */

.bar h4 { background: #149dd9 url('../imgs/header-back.jpg') no-repeat center top; }




