/*

===================
f!uXish CSS Styles
===================
naples style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: common.css

*/

blockquote {
	color: #666;
	border-left: 5px solid #149dd9;
}

/* === Form === */

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #149dd9;
	background-color: #fff
}

/* ===== LINKS GENERAL ===== */

a:hover {
	color: #149dd9;
}

#main a:hover {
	border-bottom: 1px dotted #149dd9;
}


/* ===== DIV CONTAINER ALL ELEMENTS BLOCK ===== */

/* ===== HEAD ===== */
#head {
    background: #7f7f7f url('../imgs/header-naples.jpg') no-repeat center top;
}

#header h1.title { color: white; }

	h2.subtitle {
		color: #b0e2ff;
	}


/* ===== DIV CONTAINER "MAIN" ===== */

#comments li.comment-admin {
    background-color: #b0e2ff;
    border-top: 2px solid #149dd9;
    border-bottom: 2px solid #149dd9;
    padding: 1em;
}
