/*

===================
f!uXish CSS Styles
===================
acid style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: column.css

*/

/* ===== COLUMN ===== */
.column h4{ 
    background: #b0d80f url('../img/header-back.jpg') repeat-x center top; 
    color: #000;    
}

.column a:hover { color: #99cc33; }

/* ===== BARS ===== */

.bar h4 { background: #b0d80f url('../img/header-back.jpg') repeat-x center top; }


/*

===================
f!uXish CSS Styles
===================
acid style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: common.css

*/


blockquote {
	color: #666;
	border-left: 5px solid #99cc33
}

/* === Form === */

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #99cc33;
}


/* ===== LINKS GENERAL ===== */

a:hover {
	color: #99cc33;
}

#main a:hover {
	border-bottom: 1px dotted #99cc33;
}

/* ===== DIV CONTAINER ALL ELEMENTS BLOCK ===== */

/* ===== HEAD ===== */
#head {
    background: #7f7f7f url('../img/header-acid.jpg') no-repeat center top;
}

#header h1.title { color: white; }

	h2.subtitle {
		color: #99cc33;
	}


/* ===== DIV CONTAINER "MAIN" ===== */

#comments li.comment-admin {
    background-color: #e5f79c;
    border-top: 2px solid #99cc33;
    border-bottom: 2px solid #99cc33;
}


/*

===================
f!uXish CSS Styles
===================
acid style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: globals.css

*/

/* ===== MINI-ICONS ===== */

.img_mini{
    margin-right: -0.2em;
    padding: 0.2em 0 0.2em 16px;
}

.edit-entry_mini{
    background: url('../img/icons/edit-entry.gif') left center no-repeat;
    border-style: none;
}

.delete-entry_mini{
    background: url('../img/icons/delete-entry.gif') left center no-repeat;
    border-style: none;
}

.delete-comment_mini{
    background: url('../img/icons/delete-entry.gif') left center no-repeat;
    border-style: none;
}

.add-comment_mini{
    background: url('../img/icons/add-comment.gif') left center no-repeat;
    border-style: none;
}

.posted-by_mini{
    background: url('../img/icons/posted-by.gif') left center no-repeat;
    border-style: none;
}

.permalink_mini{
    background: url('../img/icons/permalink.gif') left center no-repeat;
    border-style: none;
}

.view_mini{
    background: url('../img/icons/view.gif') left center no-repeat;
    border-style: none;
}

.category_mini{
    background: url('../img/icons/category.gif') left center no-repeat;
    padding-left: 16px;
    height: 14px;
    border-style: none;
}

/* ===== SOCIAL LINKS ===== */

.rss_link{
    background: url('../img/icons/rss-mini.gif') left center no-repeat;
    padding-left: 14px;
    border-style: none;
}

/* IE hack */
#item-rss{
    background: url('../img/icons/rss-pocket-acid.gif') no-repeat center bottom;
}

html>body #item-rss{
    background: url('../img/icons/rss-pocket-acid.png') no-repeat center bottom;
}

/* === TOOLTIPS === */

.tool-tip{ }

.tool-title{ }


