/*

===================
f!uXish CSS Styles
===================
based on Leggero by NoWhereMan & drudo
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: common.css

*/


hr { display: none }
.post .info hr{display: block;}

img { border: none }


/* ===== main ===== */

#main img { margin: .5em }

/* === List === */
	
	#commentform {
	    margin-top: 20px;
	}
	
	#commentform fieldset p, #contactform fieldset p { margin: 0 0 .5em }
	
	#commentform fieldset textarea, #contactform fieldset textarea  { 
		margin-right: -1px; /* fix IE */
	}
	
	#comments li {
		margin: 0 0 1.5em 0;
		padding: 5px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		background: #efefef;
	}
	
	#comments li.comment-admin {
	    background-color: #e5f79c;
	    border-top: 1px solid #99cc33;
        border-bottom: 1px solid #99cc33;
	    padding:1em;
    }
	
	/* === Class of main block === */
	
	.date { /* date under titles of the entry */
		margin: .2em 0 .8em 0;
	}
	
	.entry {
		margin: 0 0 2em 0;
		padding-right: 10px;
		overflow: hidden; /* floating images fix */
		height:1%; /* i.e. hack*/
		text-align: justify;
	}
	
	#main>.entry {
		overflow: hidden; /* rest of the world :) */
	}
	
	div.entry_date {
        float: right;
        margin-top: 10px;
        margin-left: 10px;
    }
	
	#main .entry-info{
		margin: 1em 0 .5em 0;
		padding: 0;
		list-style-type: none;
	}
	
	.buttonbar input {
		margin: .1em .5em;
		padding: 0 1em
	}

.alignleft { float: left }

.alignright { float: right }

.top_link{
    font-size: 0.5em;
    padding-bottom: 0.2em;
    float: right;
}

/* ===== MINI-ICONS ===== */

.img_mini{
    margin-right: -0.2em;
    padding: 0.2em 0 0.2em 16px;
}

.edit-entry_mini{
    background: url('../img/icons/edit-entry.gif') left center no-repeat;
    border-style: none;
}

.delete-entry_mini{
    background: url('../img/icons/delete-entry.gif') left center no-repeat;
    border-style: none;
}

.delete-comment_mini{
    background: url('../img/icons/delete-entry.gif') left center no-repeat;
    border-style: none;
}

.add-comment_mini{
    background: url('../img/icons/add-comment.gif') left center no-repeat;
    border-style: none;
}

.posted-by_mini{
    background: url('../img/icons/posted-by.gif') left center no-repeat;
    border-style: none;
}

.permalink_mini{
    background: url('../img/icons/permalink.gif') left center no-repeat;
    border-style: none;
}

.view_mini{
    background: url('../img/icons/view.gif') left center no-repeat;
    border-style: none;
}

.category_mini{
    background: url('../img/icons/category.gif') left center no-repeat;
    padding-left: 16px;
    height: 14px;
    border-style: none;
}

/* ===== SOCIAL LINKS ===== */

.img_link{
    margin-right: -0.2em;
}

.delicious_link{
    background: url('../img/icons/delicious.png') left center no-repeat;
    padding-left: 14px;
    border-style: solid;
}

.technorati_link{
    background: url('../img/icons/technorati.gif') left center no-repeat;
    padding-left: 14px;
    border-style: none;
}

.stumbleupon_link{
    background: url('../img/icons/stumbleupon.gif') left center no-repeat;
    padding-left: 14px;
    border-style: none;
}

.digg_link{
    background: url('../img/icons/digg.png') left center no-repeat;
    padding-left: 14px;
    border-style: none;
}

.rss_link{
    background: url('../img/icons/rss-mini.gif') left center no-repeat;
    padding-left: 14px;
    border-style: none;
}

.delicious-button{ cursor: pointer; }

#item-delicious{
    background: url('../img/icons/delicious-pocket.gif') no-repeat center bottom;
    height: 70px;
    width: 70px;
}

html>body #item-delicious{
    background: url('../img/icons/delicious-pocket.png') no-repeat center bottom;
}

/* === FEED LINKS === */

.rss-button{ cursor: pointer; }

#item-rss{ height: 70px; width: 110px; }

#rss-menu{
    position: absolute;
    top: 90px; margin-left: 650px; 
	padding: 0 10px 10px;
	margin-top: 10px;
	width: 280px;
	border: solid 1px #CCCCCC;
	background-color: #fff;
	z-index: 10;
}
	#rss-menu a:link, #rss-menu a:visited{
		display: block;
	}
	
	#rss-menu h2{
	    border:0; margin:0;
	    border-bottom:solid 1px #CCCCCC;
	    color:#000000;
	    display:block;
	    font-weight:bold;
	    font-size:12px;
	    margin-bottom:10px;
	    padding:6px 0px;
	}
	#rss-menu ul, #rss-menu ul li{
		list-style: none;
	}
		#rss-menu ul li{
			height: 20px;
			text-indent: 104px;
			margin-top: 3px;
		}

.feed-yahoo{
    background: url(../img/icons/feed-yahoo.png) no-repeat;
}
.feed-newsgator{
    background: url(../img/icons/feed-newsgator.png) no-repeat;
}
.feed-netvibes{
    background: url(../img/icons/feed-netvibes.png) no-repeat;
}
.feed-bloglines{
    background: url(../img/icons/feed-bloglines.png) no-repeat;
}
.feed-xml{
    background: url(../img/icons/feed-xml.png) no-repeat;
}
.feed-google{
    background: url(../img/icons/feed-google.png) no-repeat;
}

/* === LINKS TO FILES ICONS === */

/* external link icon */

a[href$=".ai"]{
    background: url('../img/icons/illustrator-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".in"]{
    background: url('../img/icons/indesign-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".mp3"], a[href$=".mp4"]{
    background: url('../img/icons/mp3-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".ogg"]{
    background: url('../img/icons/music.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".doc"], a[href$=".docx"]{
    background: url('../img/icons/ms-word.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".pdf"]{
    background: url('../img/icons/pdf.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".psd"]{
    background: url('../img/icons/photoshop-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".txt"], a[href$=".css"]{
    background: url('../img/icons/text-file.gif') right center no-repeat;
    padding-right: 18px;
}

/*a[href$=".html"], a[href$=".xhtml"], a[href$=".php"]{
    background: url('../img/icons/web-page.gif') right center no-repeat;
    padding-right: 18px;
}*/

a[href$=".flv"], a[href$=".swf"]{
    background: url('../img/icons/flash-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".wmv"], a[href$=".wma"]{
    background: url('../img/icons/windows-media-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".zip"], a[href$=".rar"], a[href$=".7z"], 
a[href$=".bz2"], a[href$=".gz"], a[href$=".tar"]{
    background: url('../img/icons/windows-media-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".xls"]{
    background: url('../img/icons/excel-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".exe"]{
    background: url('../img/icons/exe-file.gif') right center no-repeat;
    padding-right: 18px;
}

a[href$=".odf"], a[href$=".ods"], a[href$=".odp"], a[href$=".odg"]{
    background: url('../img/icons/file.gif') right center no-repeat;
    padding-right: 18px;
}

/* === TOOLTIPS === */

.tool-tip{
    border: 1px dashed #ffffff;
    padding: 3px;

    background-color: #000000;
    color: #ffffff;
    font-size: 85%;
}

.tool-title{
    display: none;
}

/* ===== NOTIFICATION ===== */
#main ul.msgs, ul.msgs {
	margin-top: 1em;
	margin-left: 0em;
	padding: 1em 2em
}

.errors {
	color: #901d1d;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #ffbbbb;
	background: #ffdddd
}

.errors a {
	color: #901d1d;
	text-decoration: underline;
	font-weight: normal
}

.notifications {
	color : #1d901d;
	border-top: 1px solid #bbffbb;
	border-bottom: 1px solid #bbffbb;
	background: #ddffdd
}

.warnings {
	color : #8a7802;
	border-top: 1px solid;
    border-bottom: 1px solid;
	border-color: #f8e674;
	background: #fffdd5;
}

.field-error {
	border: red 1px solid;
	background: #fdd
}


/* === CALENDAR === */

.column ul#widget_calendar{
    padding-left: 0;
}

table.calendar {
    table-layout: fixed;
    width: 160px;
}

/* === SEARCH BOX === */

#widget-searchbox form {
	text-align: left;
}

/* =================== */
/* ====== UTILS ====== */
/* =================== */

/* === DIMENSIONS === */

/* Width */
.width100 { width: 100%; }
.width75 { width: 75%; }
.width50 { width: 50%; }

/* Height */
.height100 { height: 100%; }
.height75 { height: 75%; }
.height50 { height: 50%; }


/* === POSITIONING === */

/* Float */
.floatLeft { float: left; }
.floatRight { float: right; }


/* === TEXT ===*/

/* Text align */
.alignLeft { text-align: left; }
.alignRight { text-align: right; }
.alignCenter { text-align: center; }
.alignJustify { text-align: justify; }

/* Font size */
.smallFont { font-size: 0.75em; line-height: 0.75em; }
.largeFont { font-size: 1.25em; line-height: 1.25em; }

/* Font style */
.italic { font-style: italic; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.lineThrough { text-decoration: line-through; }

.capitalLetter {
    float:left;
    font-size: 5em;
    line-height: 0.85em;
    padding: 0 2px 6px 2px;
    margin: 0 5px 5px 0;
} 


/* === IMAGES === */

.imgAlignRight { float: right; margin: 5px 5px 0; }
.imgAlignLeft { float: left; margin: 0 5px 5px; }
.imgAlignCenter { margin: 0 auto; }

.imgDescription { font-size: 0.9em; font-style: italic; }


/* ===  === */
