/*------------------------------------------------------------------
===================
fluxish CSS Styles
===================

Author: f!uX

[Forms]

input:          background #eee, border 1px solid gray
input:hover     background #fff, border 1px solid #d3d3d3
input:focus     background #fff, border 1px solid #d3d3d3

textarea:       background #eee, border 1px solid gray
textarea:hover  background #fff, border 1px solid #d3d3d3
textarea:focus  background #fff, border 1px solid #d3d3d3

select:         background #eee, border 1px solid gray

input, textarea, select:font 100% font-family: as body;

legend:         color #666, font 90%/90% oblique
fieldset:       color #ddd, border 1px solid
-------------------------------------------------------------------*/

form { margin: 1em 0 }

fieldset {
	margin: 0 0 1em 0;
	padding: .5em;
	border: #ddd solid 1px;
}

legend {
	color: #666666;
	font-size: 80%;
	font-style: oblique;
}

input, textarea, select {
    padding: .2em;
	border: 1px solid gray;
	background-color: #eee;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #d3d3d3;
	background-color: #fff
}

textarea {
	width: 99%;
	margin-top: .1em;
	margin-bottom: 1em;
	font-size: 1em;
}
