/*------------------------------------------------------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author:

[Forms]

input:          background #eee, border 1px solid gray
input:hover     background #fff, border 1px solid #d3d3d3
input:focus     background #fff, border 1px solid #d3d3d3

textarea:       background #eee, border 1px solid gray
textarea:hover  background #fff, border 1px solid #d3d3d3
textarea:focus  background #fff, border 1px solid #d3d3d3

select:         background #eee, border 1px solid gray

input, textarea, select:font 100% font-family: as body;

legend:         color #666, font 90%/90% oblique
fieldset:       color #ddd, border 1px solid

------------------------------------------------------------------------------*/

/* === FORMS === */

form { margin: 1em 0 }

    form ul, form li{
        border:0; margin:0; padding:0; list-style:none;
    }

legend {
	color: #666;
	font: 90%/90% oblique;
}

label{ width: 100%; }

    form label{font-weight: bold;}


input[type='text'], input[type='password'], input[type='submit'], 
input[type='reset'], textarea, select {
    border: 1px solid gray;
    padding: 0.2em;
    margin-bottom: 10px;
    
	background-color: #eee;
	font-size: 100%;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea{width: 60%; min-height: 200px;}

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #d3d3d3;
	background-color: #fff;
}

input[readonly], input[disabled],
select[readonly], select[disabled],
textarea[readonly], testarea[disabled]{
    opacity: 0.5;
    border-style: dotted;
}

input[type='text'].title{
    font-size: 1.2em;
}

form table th{ vertical-align: top; }

/* === IN PLACE EDITABLE FIELDS === */

.editable{
    padding-right: 18px;
    background: url('../images/icons/mini/edit.gif') no-repeat right center;
}
    .editable input, .editable textarea{ font-size: 1em; }
    .editable textarea{ font-family: 'Bitstream Vera Sans', 'Liberation Sans', FreeSans, 
	    Helvetica, Arial, sans-serif; }
    h1 input{ letter-spacing: 1px; }
    h2 input{ font-weight: bold; }

.editable:hover	{ background-color: #ffffcc; }

.textarea textarea{ height:100px; width: 95%; }
.editable-empty{ background-color: #ffffcc; border: 1px dashed #7f7f7f; }
.box{ border:1px solid #ccc;  }

/* === STYLE === */

.form{
    margin: 10px auto;
}

.form ul, .form li{
    border:0; margin:0; padding:0; list-style:none;
}

    .form h1 {
        font-weight: bold;
        margin-bottom: 8px;
    }
    .form p{
        color: #666666;
        margin-bottom: 20px;
        border-bottom: solid 1px #7f7f7f;
        padding-bottom: 10px;
    }
    .form label{
        display: block;
        font-weight: bold;
        width: 140px;
        margin-top: 10px
    }
    .form .small{
        color: #666666;
        display: block;
        font-size: 11px;
        font-weight: normal;
        text-align: right;
        width: 140px;
    }
    .form input,
    .form textarea, 
    .form select{
        margin: 5px 0 20px 0;
        
        font-size: 12px;
        padding:4px 2px;
        border: solid 1px #555555;
        background-color: #fff;
    }
    
    .form .button-link{
        margin: 5px 0 20px 0;
    
        font-size: 12px;
        padding: 6px 4px;
    }
    
    .form button,
    .form input[type="submit"],
    .form input[type="reset"]{
        clear: both;
        
        border: 2px solid #666666;
        text-align: center;
        font-weight: bold;
        
        background-color: #7f7f7f;
        color: #ffffff;
    }
    
    .form button:hover,
    .form input[type="submit"]:hover,
    .form input[type="reset"]:hover{
        color: #555555;
        background-color: #dadada;
        cursor: pointer;
    }
    
    .form .button-link:link, .form .button-link:visited{
        clear: both;
        
        /*border: 2px solid #666666;*/
        text-align: center;
        font-weight: bold;
        
        background-color: #ffffff;
        color: #7f7f7f;
    }
    
    .form .button-link:hover{
        color: #b5b5b5;
        cursor: pointer;
    }

/* === FORM ERRORS === */

input[type="text"].field-with-errors,
textarea.field-with-errors, select.field-with-errors {
  border: 2px solid red;
}

.error-explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 0.8em;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

.error-explanation p {
    margin-top: 0.5em;
    padding-bottom: 0;
    padding: 5px;
    font-size: 0.8em;
    color: #333;
}

.error-explanation .element-list{
    margin-left: 1em;
    font-size: 0.9em;
    list-style: none;
}

    .error-explanation .element-list li{
        margin-bottom: 0.5em;
    }

.error-explanation .error-list{
    font-size: 12px;
    list-style: square;
    margin-left: 3em;
    margin-top: 0.2em;
}
