/*------------------------------------------------------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author:

[Forms]

input:          background #eee, border 1px solid gray
input:hover     background #fff, border 1px solid #d3d3d3
input:focus     background #fff, border 1px solid #d3d3d3

textarea:       background #eee, border 1px solid gray
textarea:hover  background #fff, border 1px solid #d3d3d3
textarea:focus  background #fff, border 1px solid #d3d3d3

select:         background #eee, border 1px solid gray

input, textarea, select:font 100% font-family: as body;

legend:         color #666, font 90%/90% oblique
fieldset:       color #ddd, border 1px solid

------------------------------------------------------------------------------*/

/* === FORMS === */

form { margin: 1em 0 }

legend { padding: 5px;}

fieldset {
	margin: 0 0 1em 0;
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

label{ width: 100%; }

input[type='text'], input[type='password'], textarea, select {
    border: 1px solid gray;
    padding: 0.2em;
    background-color: #eee;
    font-size: 100%;
    width: 200px;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

input[type='text']:hover, input[type='text']:focus,
input[type='password']:hover, input[type='password']:focus,
textarea:hover, textarea:focus {
	border: 1px solid #d3d3d3;
	background-color: #fff;
}

input[type='text'].title{
    font-size: 1.2em;
}

input[disabled][readonly]{
    border: 1px dashed gray;
    background-color: #f7f7f7;
}
input[disabled]{
    border: 1px solid #eee;
    background-color: #f7f7f7;
}


a.button-link, input.button-link{
    margin: 10px 5px;
    padding: 0;
    font-size: 0.875em;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-bottom: 1px dotted;
    color: #666666;
    background-color: transparent;
}
a.delete:hover, input.delete:hover{ color: red; }

/* === FORMS STYLES === */

/* +++ list style +++ */
form li{ list-style-type: none; }

/* +++ table style +++ */
form table{ margin: 20px auto; width: 500px; }
form table.selection { width: 100%;}
form table.selection td:first-child { text-align: left; }

form table td:first-child { font-weight: bold; text-align: right;}

/* === FORM ERRORS === */

.notices{
    border: 2px green solid;
    background-color: #e2ffe2;
    padding: 10px;
}

.errors{
    border: 2px red solid;
    background-color: #ffebeb;
    padding: 10px;
}

/* +++ livevalidation notification boxes style +++ */
.LV_validation_message { display: block; }

.LV_valid { color: green; }

.LV_invalid { color: red; }