/*-----------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author: Luigi Marco Simonetti

[Layout]

* body
    * Page / #page .container
        + Header / header#header
            - Top header / div#top_header
            - Bottom header / div#bottom_header
            
        + Middle / div#middle
            - column_1 / div#column_1
            - column_2 / div#column_2
            
        + Footer / footer#footer

-------------------------------------*/

body{ height: 100.01%; }

/* === PAGE === */

.container{max-width: 1440px; min-width: 960px; }

/* === HEADER === */
header{ height: 80px; }
#top_header{ height: 30px; }
#bottom_header{ height: 50px; position: relative; }

#searchbox{ float: right; }

/* === MIDDLE === */

#middle{ min-height: 400px; margin-bottom: 40px; padding-bottom:20px;}

/* === FOOTER === */

footer{    
    height: 40px;
    margin-bottom: 20px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    clear: both;
}

