/*-----------------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author: 

[Navigation]

-------------------------------------------*/

/* === COLUMN === */

.column{ overflow: hidden; }


/* === SIDEBARS === */

#sidebar{ min-height: 100px; }

#sidebar_container{
    margin: 10px 10px 40px 10px;
}

#nav_bar{ margin: 0 auto; position: relative; top: 10px; }

/* === MENUS === */

/* +++ Mini menu +++ */

ul.mini-menu{
    margin: 0; padding: 0;
    background-color: transparent;
    list-style-type: none;
}

ul.result-menu{ display: none; margin-top: 10px; margin-bottom: 30px;}

/* === MENU BUTTONS === */
.menu li,
.menu li.align-left{ margin-right: 10px; margin-left: 0px; float: left; }
.menu li.align-right{ margin-right: 0px; margin-left: 10px; float: right; }

.mini-menu a.item, .mini-menu span.item{
    padding-left: 18px;
    background-repeat: no-repeat; 
    background-position: left center;
    font-size: 0.85em;
}
.mini-menu a.item:link, .mini-menu a.item,:visited{ border-bottom: none; }

#nav_bar .login{background: url('../images/icons/mini/login.png') no-repeat;}
#nav_bar .logout{background: url('../images/icons/mini/logout.png') no-repeat;}
#nav_bar .user{background: url('../images/icons/mini/user.png') no-repeat;}
#nav_bar .home{background: url('../images/icons/mini/home.png') no-repeat;}

/* === HOME MENU & FUNCTIONS === */

#home_menu ul, #functions ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#home_menu{width: 560px; margin: 0 auto;}

#home_menu li{float: left; margin: 10px;}

#home_menu li a{padding: 0 0 256px 256px;border: none;}
#functions li a{
    padding: 14px 0 34px 52px;
    font-size: 1.1em;
    line-height: 48px;
    border: none;
}
#home_menu li a:hover, #functions li a:hover{border: none;}

#home_menu li p{
    margin-top: 256px;
    font-size: 22px;
    text-align: center;
}

#home_menu a.libri{background: url('../images/icons/functions/libri.png') no-repeat; }
#home_menu a.ricerca{background: url('../images/icons/functions/ricerca.png') no-repeat; }
#home_menu a.management{background: url('../images/icons/functions/management.png') no-repeat; }
#home_menu a.ordini{background: url('../images/icons/functions/ordini.png') no-repeat; }

#functions a.libri{background: url('../images/icons/functions/libri_48.png') no-repeat; }
#functions a.ricerca{background: url('../images/icons/functions/ricerca_48.png') no-repeat; }
#functions a.management{background: url('../images/icons/functions/management_48.png') no-repeat; }
#functions a.ordini{background: url('../images/icons/functions/ordini_48.png') no-repeat; }
#functions a.goBack{background: url('../images/icons/functions/goBack_48.png') no-repeat; }

/* === PAGINATION === */
div.pagination-control{ margin-top: 20px; font-size: 82.5%; text-align: center; }

ul.pagination-list{ margin: 0 auto; }

/* ===  === */
/* +++  +++ */

