/*------------------------------------------------------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author: 

[Style]

stylesheets list:

reset:          Mayer's reset css: reset browser base settings

layout:         template structure
navigation:     sidebars and navigation divs structure

forms:          input, textareas and others form elements
ui:             user interface elements

typography:     text blocks style
colors:         elements colors

plugins list:

forms:          extra styles for forms

utils:          useful css classes
ie              useful hacks for IE Browsers
-------------------------------------------------------------------------------*/

/* reset browsers style settings */
@import url('plugins/reset/reset.css');

/* layout */
@import url('layout.css');
@import url('navigation.css');

/* other elements */
@import url('forms.css');
@import url('ui.css');

/* fonts and colors settings */
@import url('typography.css');

/* Plugins */
    
    @import url('plugins/extras/forms.css');
    @import url('plugins/utils/utils.css');
    @import url('plugins/ie/ie.css');
