/*------------------------------------------------------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author: 

[Style]

stylesheets list:

reset:          Mayer's reset css: reset browser base settings

layout:         template structure
navigation:     sidebars and navigation divs structure

forms:          input, textareas and others form elements
ui:             user interface elements

typography:     text blocks style
colors:         elements colors

plugins list:

960:            960.gs grid layout

extras:         extra styles for menu, paginations ant other.
forms:          extra styles for forms

utils:          useful css classes
messages:       formats error, warning, notice and succeess messages
ie              useful hacks for IE Browsers
-------------------------------------------------------------------------------*/

/* reset browsers style settings */
@import url('plugins/reset/reset.css');

/* layout */
@import url('layout.css');
@import url('navigation.css');

/* other elements */
@import url('forms.css');
@import url('ui.css');

/* fonts and colors settings */
@import url('typography.css');

/* Plugins */

    @import url('plugins/960/960_fluid.css');
    @import url('plugins/extras/extras.css');
    @import url('plugins/extras/forms.css');
    @import url('plugins/utils/utils.css');
    @import url('plugins/messages/messages.css');
