/*------------------------------------------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author: Luigi Marco Simonetti

[typography]

Body:		    100% 'Bitstream Vera Sans', 'Liberation Sans', FreeSans, 
	                Helvetica, Arial, sans-serif;
Headers:		2/1.5/1.2/1/0.875/0.75em  font-family: as body
Paragraph:      0.925em  font-family:  as body, justified
Blockquotes:    100% font-family: as body
Preformatted:   100% "Bitstream Vera Mono", "Lucida Console", Monaco, 
                    "Liberation Mono", FreeMono, monospace;
Tables:
td, th:         0.875em, font-family: as body
th:             style: italic

Lists:
ul              type: square


[colors]

Body:           #dfdfdf (light-grey)

Layout:
header:         #44484c (dark-blue)
middle:         #ffffff (white)

Notes:	
decreasing heading by 0.5em with every subsequent heading level
px to em = 1/16px * Xpx OR Xpx/16px
-----------------------------------------------------------------------*/

html { font-size: 100.01%; }

body {
    font-size: 1em;
	font-family: 'Bitstream Vera Sans', 'Liberation Sans', FreeSans, 
	    Helvetica, Arial, sans-serif;
    background-color: #dfdfdf;
	color: #000;
}

body.popup{ background-color: #fff; }

/* === HEADERS TAGS === */

h1 { font-size: 2em; margin: 1em 0; }

h2 { font-size: 1.5em; margin: 0.5em 0 0.25em; }
    h2.action-title{ border-bottom: solid 1px; }

h3 { font-size: 1.2em; margin: 0.5em 0 0.25em; }

h4 { font-size: 1em; margin: 0,5em 0 0.25em; }

h5 { font-size: 0.875em; margin: 0.2em 0; }

h6 { font-size: 0.75em; margin: 0.2em 0; }

/* === PARAGRAPHS === */

p { margin: 0.25em 0; font-size: 0.925em; line-height: 1.2em; text-align: justify; }

    p.description, p.description{ padding: 5px 5px 15px; }
    
small { font-size: 0.75em; }

/* === ANCHORS === */

a:link, a:visited, a:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:link, a:visited {color: #666666;}
a:hover {color: #d3d3d3;}
a:focus{ outline: none; }


/* === MISC STUFF === */

em { background-color: #ffffcc; border: 1px solid #ffffcc; color: #444; font-style: normal }

strong { color: #000; font-weight: bolder; }

blockquote, cite { color: #666; font-style: italic; }
blockquote{
    border-left: 5px solid #bbb;
    line-height: 1.2em;
    margin: 1em;
	padding: 0 15px;
}

pre, code {
	font-family: "Bitstream Vera Mono", "Liberation Mono", FreeMono, 
	    "Lucida Console", Monaco, monospace;
}
pre {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	
	overflow: auto;
	width: 90%;
	margin: 1em;
	padding: 5px 10px;
	background-color: #efefef;
}

sup, sub { font-size: 0.5em; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

acronym, abbr{ color: #666; cursor: help; }

/* ===== TABLES ===== */

table { border-collapse: collapse; width: 100%; }
table tr.odd { background-color: #efefef; }
table th { border-bottom-color: #000; }

table.selection{ margin: 20px 0;}
table.selection tr:nth-child(odd){ background-color: #eee }
table.selection tr:nth-child(even),
table.selection tr:first-child{ background-color: #fff }
table.selection tr:last-child{ border-bottom: solid 2px black; }

td {
    padding: 4px;
    font-size: 0.875em;
    text-align: left;
    vertical-align: top;
}

th {
	padding: 4px; 
	border-bottom: solid 2px black; 
	font-size: 0.875em; 
	font-style: italic; 
	text-align: left;
}

td.number, th.number{ max-width: 90px; }
td.number{ text-align: center; }

/* === LISTS === */

ul { list-style-type: square; }
ol { list-style-type: decimal; }

li, dd { margin: 0.5em 0 0.5em 2em; }
dt { font-weight: bold; }

/* === LAYOUT === */

header{
    text-align: left;
    background-color: #44484c;
}
}

    #logo{
        width: 141px;
        height: 30px;
    }

#middle{
    background-color: #fff;
    border-radius-bottomleft: 10px;
    border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-radius-bottomleft: 10px;
    -webkit-border-radius-bottomright: 10px;
}

#sidebar{
    background-color: #fafafa;
    border-radius-bottomleft: 10px;
    border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-radius-bottomleft: 10px;
    -webkit-border-radius-bottomright: 10px;
}

#nav_bar ul a.item, #nav_bar ul span.item{ color: #f5f5f5; }
#nav_bar ul a.item:hover{ color: #c7c7c7; }

footer p{
    padding: 10px;
    font-size: 0.75em;
    font-style: italic;
    color: #44484c;
    -moz-border-radius: 5px;
    -webkit-border-radiust: 5px;
}

/* === PAGES === */

#error_auth #error_icon{
    height: 128px;
    width: 128px;
    background: url('../images/icons/notification/notification_remove.png') no-repeat;
}

#error_page #error_icon{
    height: 128px;
    width: 128px;
    background: url('../images/icons/notification/notification_warning.png') no-repeat;
}

/* ===  === */
/* +++  +++ */

