/*------------------------------------------------------------------
===================
#title# CSS Styles
===================
#description#
-------------------

Author:

[Typography]

Body:		    100% 'Bitstream Vera Sans', 'Liberation Sans', FreeSans, 
	                Helvetica, Arial, sans-serif;
Headers:		2em/1em font-family: as body
Paragraph:      92.5% font-family: as body, justify
Blockquotes:    100% font-family: as body
Preformatted:   100% "Bitstream Vera Mono", "Lucida Console", Monaco, 
                    "Liberation Mono", FreeMono, monospace;
Tables:
td, th:         0.8em, font-family: as body
th:             style: italic

Lists:
ul              type: square

Notes:	decreasing heading by 0.5em with every subsequent heading level
-----------------------------------------------------------------------*/

html { font-size: 100.01%; }

body {
    font-size: 1em;
	font-family: 'Bitstream Vera Sans', 'Liberation Sans', FreeSans, 
	    Helvetica, Arial, sans-serif;
	line-height: 1em;
        background-color: #eaeaea;
	color: #000;
}

/* === HEADERS TAGS === */

h1 { font-size: 1.8em; margin: 1em 0; line-height: 1em;}
    .webquest h1{text-align: center;}

h2 { font-size: 1.5em; margin: 20px 0 10px; line-height: 1em;}
    h2.action-title{ border-bottom: solid 1px; line-height: 2em; }
    .webquest h2{font-size: 1.125em;}

h3 {
    font-size: 1.2em;
	margin: 15px 0 5px;
}

h4 { font-size: 1em; margin: 0.625em 0 0.2em; line-height: 1em;}

h5 { font-size: 0.875em; margin: 2em 0 1em; line-height: 1em;}

p, ul, ol, dl { margin: 5px 0; font-size: 0.875em; line-height: 1.4em; }
dl *, ul *, ol *{ font-size: 100%; }

    p.action-description, p.controller-description{ padding: 5px 5px 15px; }
    #content p { text-align: justify; }

/* === PARAGRAPHS === */

p { 
    margin: 0.25em 0; 
    font-size: 0.925em; 
    line-height: 1.2em; 
    text-align: justify; 
}

    p.description, p.description{ padding: 5px 5px 15px; }
    
small { font-size: 0.75em; }

/* === LINKS === */

a:link, a:visited, a:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:link, a:visited {color: #666666;}
a:hover {color: #d3d3d3;}
a:focus{ outline: none; }

a.confirm-link:hover{ color: #f00; }

#top_menu_container ul.sub-menu a:hover{
    text-decoration: none;
    border-bottom: 0;
    font-weight: bold;
    font-style: oblique;
}


/* === BLOCKQUOTE AND CODE TEXT === */

blockquote {
	width: 90%;
	margin: 1em;
	padding: 0 10px;
	border-left: 5px solid;
        color: #666;
	border-left-color: #bbb
}

pre, code {
	font-family: "Bitstream Vera Mono", "Liberation Mono", FreeMono, 
	    "Lucida Console", Monaco, monospace;
	font-size: 100%;
}

pre {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	
	overflow: auto;
	width: 90%;
	margin: 1em;
	padding: 5px 10px;
	background-color: #efefef;
}


/* ===== TABLES ===== */

table { 
    border-collapse: collapse; 
    width: 100%; 
}

td {
    padding: 4px;
	font-size: 0.8em;
	text-align: left; 
}

th { 
    padding: 4px; 
    font-style: italic; 
    font-size: 0.8em; 
    text-align: left; 
}

table.items thead th, table.items tfoot th{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #3FA5F4),
        color-stop(1, #5FC6FF)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #3FA5F4 0%,
        #5FC6FF 100%
    );
}

table.items thead th:first-child{
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
table.items thead th:last-child{
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

table.items tbody tr:nth-child(even) { background-color: #efefef; }
table.items td.number, table.items th.number{ max-width: 90px; }
table.items td.number{ text-align: center; }

table.items th a, table.items th a:hover, table.items th a:link, table.items th a:visited{
    color: #fafafa; text-shadow: 1px 1px 1px #6d6d6d;
} 
table.items td.no-items{ 
    padding: 10px 15px;
    font-style: italic; 
    text-shadow: 1px 1px 1px #6D6D6D; 
}

table.item {
    background-color: #eaeaea;
    border-collapse: separate; 
}
table.item tbody th, table.item tbody td{padding-top: 10px; padding-left: 10px; }
table.item tbody td{width: 75%}
table.item tfoot ul{ margin-top: 10px; padding: 10px; }


/* === LISTS === */

ul, ol, dl { margin-left: 1em; }

ul { list-style-type: square; }
ol { list-style-type: decimal; padding-left: 1.5em; font-size: 92.5%}
li, dt{margin-top: 5px;}

/* === LAYOUT === */

#top_header{ text-align: left; background-color: #3FA5F4; }

#logo_bar{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #3FA5F4),
        color-stop(1, #5FC6FF)
    );
    background-image: -moz-linear-gradient(
        center top,
        #3FA5F4 0%,
        #5FC6FF 100%
    );
}

#bottom_header, #footer{
    text-align: left;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #7E7E7E),
        color-stop(1, #555555)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #7E7E7E 0%,
        #555555 100%
    );
}

#page{
    background-color: #fff;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#footer p{
    padding: 10px;
    font-size: 0.75em;
    font-style: italic;
    color: #f5f5f5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* +++ panels  +++ */
#sidebar .ui-panel{ background-color: #fafafa; }

/* +++ NAV BAR +++ */
#nav_bar ul { font-size: 0.875em; }
#nav_bar ul a.item, #nav_bar ul span.item{ color: #f5f5f5; }
#nav_bar ul a.item:hover{ color: #c7c7c7; }

.result-menu { font-size: 0.875em; }


/* ===  === */
/* +++  +++ */

