/*

===================
f!uXish CSS Styles
===================
orange style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: column.css

*/

/* ===== COLUMN ===== */
.column h4{ 
    background: #ff9f40 url('../imgs/header-back.jpg') no-repeat center top; 
    color: #000;    
}

.column a:hover { color: #ff9f40; }

/* ===== BARS ===== */

.bar h4 { background: #ff9f40 url('../imgs/header-back.jpg') no-repeat center top; }


