/*

===================
f!uXish CSS Styles
===================
rose style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: admin.css

*/
@import url(../../common/res/admin.css);
@import url(common.css);
@import url(globals.css);


/* === LINKS === */

#admin-content a:hover {
	color: #d01f36;
	border-bottom: 1px dotted #d01f36;
}


/* ===== TAB MENU ===== */

ul#admin-tabmenu li a {
	color: #222;
}

ul#admin-tabmenu li a:hover {
	color: black;
	font-weight: normal;
	background-color: #ddd
}

ul#admin-tabmenu a#admin-tab-current {
	font-weight: bold;
	background-color: #db5168;
	color: #fff;    
}


/* ===== submenu ====== */

#admin-submenu {
	/*background: #eee; */
}

#admin-submenu li { }

#admin-submenu li a {
	color: #000;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;  
}

#admin-submenu li a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 3px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;  
}

#admin-submenu li a.active {
	color: #fff;
	background: #d01f36 url(../imgs/header-back.jpg) repeat-x center top;
	font-weight: bold;
	border-top: 3px solid #666;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}


/* ===== ADMIN ENTRY ===== */

input#subject {
	color: #333333;
	font-weight: bold
}

textarea#content { }

textarea.code { }


/* ===== WIDGET PANEL ====== */

.admin-widgetset h3 {
	margin-bottom: 1em;
	padding: .3em;
	border: 1px solid #ddd;
	background: #d01f36 url(../imgs/header-back.jpg) repeat-x center top;
	color: #fff;
}

.widget-instance .textinput:hover {
	border: #db5168 2px solid;
	background-color:#db5168;
}


.widget-instance .textinput:focus {
	font-style: normal;
	border: #db5168 2px solid;
	background-color:#db5168;
	text-align: left;
}
