/*

===================
f!uXish CSS Styles
===================
rose style
-------------------

Name: f!uXish
Author: f!uX
Version: 1.0
Module: common.css

*/

blockquote {
	color: #666;
	border-left: 5px solid #d01f36
}

/* === Form === */

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #d01f36;
	background-color: #fff
}



/* ===== LINKS GENERAL ===== */

a:hover {
	color: #d01f36;
}

#main a:hover {
	border-bottom: 1px dotted #d01f36;
}


/* ===== DIV CONTAINER ALL ELEMENTS BLOCK ===== */

/* ===== HEAD ===== */
#head {
    background: #7f7f7f url('../imgs/header-rose.jpg') no-repeat center top;
}

#header h1.title { color: white; }

	h2.subtitle {
		color: #e68a93;
	}


/* ===== DIV CONTAINER "MAIN" ===== */

#comments li.comment-admin {
    background-color: #ffc3ce;
    border-top: 2px solid #d01f36;
    border-bottom: 2px solid #d01f36;
    padding: 1em;
}
